body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f9ff;
  min-width: 320px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
